In [3]:
!ls data/food-101/meta

classes.txt  labels.txt  test.json  test.txt  train.json  train.txt

In [4]:
import pandas as pd

In [12]:
df = pd.read_csv("data/food-101/meta/train.txt",header=None,names=['file_path'])
df['label_name'] = df['file_path'].apply(lambda x:x.split("/")[-2])

In [13]:
df

               file_path label_name
0      apple_pie/1005649  apple_pie
1      apple_pie/1014775  apple_pie
2      apple_pie/1026328  apple_pie
3      apple_pie/1028787  apple_pie
4      apple_pie/1043283  apple_pie
...                  ...        ...
75745     waffles/981485    waffles
75746      waffles/98238    waffles
75747     waffles/982668    waffles
75748     waffles/995085    waffles
75749     waffles/999047    waffles

[75750 rows x 2 columns]